


.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__title {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form__field {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__icon {
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.contact-form__field-description {
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--accent-black);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
}

.contact-form__comment {
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
}

.contact-form__checkbox-lable {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;

  &::before {
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    content: '';
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #212121;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__checkbox:checked + & {
      background-color: var(--accent-color);
      background-image: url('../images/icons/icon-check.svg');
      background-size: contain;
      background-position: center;
      border: 1px solid var(--accent-color);
    }

    .contact-form__checkbox:focus + & {
      border: 1px solid var(--accent-color);
    }
  }
}

.conatct-form__checkbox-link {
  color: var(--accent-color);
  font-size: inherit;
}

.button__contact-form {
  align-self: center;
  padding: 10px 32px;
  
  
}
