:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-white: #ffffff;
  --accent-black: #757575;
  --main-black: #212121;
}
